<div>
<h1>{{product.name}}</h1>
<h2>{{product.brand}}</h2>
<h4>product type: {{product.product_type}}</h4>
</div>
<div class="maxx">
    <img [src]='product.api_featured_image'>
    <div>
        <p>category: {{product.category}}</p>
        <p>description</p>
        <p>{{product.description}}</p>
        <p>price:{{product.price_sign}}{{product.price}}</p>
        <button mat-raised-button color="accent">add to cart<mat-icon>add_shopping_cart</mat-icon></button>
    </div>
</div>
<app-detail-rec [product_type]='product.product_type' ></app-detail-rec>